* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  color: #fff;
  height: 100vh;
  background: url("/assets/images/infinite-loop-01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 13px 45px;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}
.logo a {
  font-weight: bold;
  font-size: 1.4rem;
  color: #fff;
}
.logo a:hover {
  color: rgb(18, 110, 167);
}
nav ul {
  display: flex;
  gap: 40px;
  font-size: 20px;
  margin-right: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li a {
  color: #fff;
  font-weight: 300;
  font-size: 21px;
  padding: 0px 14px;
}
.header__nav ul li a:hover {
  background-color: rgb(18, 110, 167);
}

.nav__main {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav__main h1 {
  font-size: 58px;
  font-weight: 400;
  text-shadow: 2px 2px 2px #333;
  margin: 12px 0;
}
.nav__button {
  position: relative;
  text-align: center !important;
  margin-top: 30%;
}
.nav__main p {
  text-shadow: 2px 2px 2px #333;
  font-size: 20px;
  line-height: 1.8;
}
.nav__button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.nav__button i {
  color: #ffff;
  background: #357;
  font-weight: 900;
  padding: 13px 40px;
  font-size: 3em;
  margin-bottom: -100px;
}
.nav__button i:hover {
  background: rgb(72, 114, 156);
  padding: 17px 50px;
  transition: 0.3s;
}
#what {
  padding: 90px 0;
  font-family: "Raleway", sans-serif;
}

.title h2 {
  font-size: 20px;
  color: #37a;
  font-size: 2.6rem;
  font-weight: normal;
}

.title p {
  font-size: 1.2rem;
  line-height: 1.9;
  color: #707070;
}
.title p span {
  color: #38b;
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  font-family: inherit;
}
.title h2 {
  font-size: 2.6rem;
  color: #37a;
}
.title p {
  font-size: 1.2rem;
  margin: 20px 0 80px 0;
  color: #707070;
}

.what__block {
  padding-top: 20px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.what__item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}

.what__item i {
  font-size: 3.5em;
  color: #37a;
}

.what__item h3 {
  margin-bottom: 24px;
  color: #37a;
  font-size: 2rem;
  font-weight: 500;
}

.what__item p {
  margin-bottom: 24px;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #707070;
}

.what__item a {
  display: inline-block;
  color: white;
  background-color: #369;
  padding: 14px 30px;
  font-size: 18px;
  transition: 0.3s;
  font-weight: 100;
}

.what__item a:hover {
  background-color: #38b;
}

#testimonials {
  background-image: url("/assets/images/infinite-loop-02.jpg");
  background-position: center -150px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 80px;
  padding-bottom: 120px;
  background-attachment: fixed;
  position: relative;
}
.testimonials__title h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: normal;
}

.testimonials__title p {
  max-width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 90px 0;
  font-size: 0.9rem;
  line-height: 1.7;
}
.testimonials {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.testimonials__box {
  max-width: 290px;
  text-align: center;
}

.testimonials__box img {
  border-radius: 50%;
  margin-bottom: 35px;
}
.testimonials__box p {
  line-height: 1.8;
  text-align: left;
  margin: 0px 0px 20px 0;
}
.testimonials__box span {
  margin-left: 109px;
  font-style: italic;
}

#gallery {
  padding-top: 70px;
  padding-bottom: 140px;
}

.gallery__title h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: normal;
  color: #37a;
}
.gallery__title p {
  font-size: 0.9rem;
  max-width: 650px;
  margin-left: auto !important;
  margin-right: auto !important;
  line-height: 1.9;
  text-align: center;
  margin: 30px 0 90px 0;
  color: #707070;
}
.gallery {
  display: flex;
  gap: 33px;
  height: auto;
}
.gallery__box {
  position: relative;
}

.gallery__box .text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  color: white;
  top: 0;
  opacity: 0;
  background-color: rgba(168, 41, 41, 0.2);
  border-bottom: 11px solid rgb(66, 126, 185);
}
.gallery__box:hover .text {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.text h2 i {
  font-weight: 300;
  font-size: 0.9em;
  font-style: normal;
  text-transform: uppercase;
}
.text span {
  font-weight: 600;
  width: 100%;
}
#contact {
  background-image: url("/assets/images/infinite-loop-03.jpg");
  color: #fff;
  background-color: #001828;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 980px;
  padding-bottom: 50px;
  padding-top: 100px;
}
.contact__title {
  text-align: center;
}
.contact__title h2 {
  font-size: 2.6rem;
  font-weight: normal;
  margin-bottom: 20px;
}
.contact__title p {
  line-height: 2.2rem;
  font-size: 17px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
}
.contact__box {
  display: flex;
  margin-left: 80px; 
}

form input {
  margin-bottom: 30px;
  width: 65%;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: #ffff;
}
form ::placeholder {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}

form textarea {
  margin-bottom: 30px;
  width: 65%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
}
form a {
  color: #fff;
  background-color: #369;
  width: 35%;
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

form a:hover {
  color: white;
  background-color: #38b;
}

.navigation ul li {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.navigation ul li a {
  font-size: 1.2em;
  margin-right: 1.5rem;
  color: #fff;
}

 .navigation ul :hover {
  color: #37a;
 }


.copyright {
  display: flex;
  justify-content: center;
  margin-top: 160px;

}
.copyright a {
  color: #fff;
}

  

